<%# Partial template for recursive rendering of JSON-LD trees %>
<% object.each do |k, v| %>
  <dl class="dl-horizontal">
    <dt><%= k %></dt>
    <dd>
      <% if v.is_a? String %>
        <% if v.start_with? "http://" %>
          <a href="<%= v %>"><%= v %></a>
        <% else %>
          <%= v %>
        <% end %>
      <% elsif v.is_a? Hash %>
        <%= render partial: "object", locals: {object: v} %>
      <% elsif v.is_a? Array %>
        <ul>
          <% v.each do |item| %>
            <li>
              <% if item.is_a? Hash %>
                <%= render partial: "object", locals: {object: item} %>
              <% else %>
                <%= item %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= v %>
      <% end %>
    </dd>
  </dl>
<% end %>
