<%= render partial: "home_description" %>

<ul class="nav nav-tabs" id="formtabs">
  <li class="active">
    <a href="#tab-url" data-toggle="tab"><label for="url"><%= t "home.validate_url" %></label></a>
  </li>
  <li>
    <a href="#tab-file" data-toggle="tab"><label for="file"><%= t "home.validate_file" %></label></a>
  </li>
  <li>
    <a href="#tab-text" data-toggle="tab"><label for="text"><%= t "home.validate_text" %></label></a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane control-group active" id="tab-url">
    <form action="validate" class="form-inline" method="GET">
      <fieldset class="controls">
        <input id="url" name="url" placeholder="<%= t "home.enter_url" %>"
               autofocus="true" type="url" class="input-xxlarge">
               <button id="submit" name="submit" type="submit" class="btn-large btn-primary"><%= t "home.validate" %></button>
      </fieldset>
    </form>
  </div>

  <div class="tab-pane" id="tab-file">
    <form action="validate" method="POST" enctype="multipart/form-data">
      <fieldset class="controls">
        <input id="file" name="file" class="input-file" type="file">
        <button id="submit" name="submit" type="submit" class="btn-large btn-primary"><%= t "home.validate" %></button>
      </fieldset>
    </form>
  </div>
  
  <div class="tab-pane" id="tab-text">
    <form action="validate" method="POST" enctype="multipart/form-data">
      <fieldset class="controls">
        <p>
          <textarea autofocus="true" id="text" name="text" placeholder="<%= t "home.paste_markup" %>"
                    class="span9" rows="15"></textarea>
        </p>
        <p><button id="submit" name="submit" type="submit" class="btn-large btn-primary"><%= t "home.validate" %></button></p>
      </fieldset>
    </form>
  </div>
</div>
