<h2><%= t "preview.validation_results" %></h2>

<% if @errors.empty? %>
  <p class="label label-success"><%= t "preview.passed" %></p>
<% else %>
  <p class="label label-important"><%= t "preview.failed" %></p>
  <p><%= t "preview.errors_no" %>: <strong><%= @errors.size %></strong></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t "preview.error" %></th><%# label %>
        <th><%= t "preview.violation_path" %></th>
        <th><%= t "preview.invalid_value" %></th>
      </tr>
    </thead>
    <tbody>
      <% @errors.each do |error| %>
        <tr>
          <td>
            <%= error["label"] %>
            <% if error.key? "comment" %>
              <span class="has-tooltip icon-info-sign"
                 data-original-title="<%= error["comment"] %>"></span>
            <% end %>
          </td>
          <td>
            <% if error["violationPath"].is_a? Enumerable %>
              <%= error["violationPath"].join(", ") %>
            <% else %>
              <%= error["violationPath"] %>
            <% end %>
          </td>
          <td>
            <% if error["invalidValue"].is_a?(Hash) %>
              <% if error["invalidValue"].key?("@id") %>
                <% if error["invalidValue"]["@id"].start_with? "_:" %>
                  <%# Omit display? %>
                <% else %>
                  <a href="<%= error["invalidValue"]["@id"] %>"><%= error["invalidValue"]["@id"] %></a>
                <% end %>
              <% elsif error["invalidValue"].key?("@language") %>
                <%= error["invalidValue"]["@value"] %>
              <% end %> 
            <% else %>
              <%= error["invalidValue"] %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %> 

<h2><%= t "preview.title" %></h2>

<% if @job_postings.empty? %>
  <p><%= t "preview.no_job_posting" %></p>
<% else %>
  <p><%= t "preview.description" %></p>

  <div id="preview">  
    <%= render partial: "object", collection: @job_postings %>
  </div>
<% end %>
