<h2><%= t "preview.validation_results" %></h2>

<% if @errors.empty? %>
  <%= render partial: "validation_passed" %>
<% else %>
  <%= render partial: "validation_failed" %>
  <p><%= t "preview.errors_no" %>: <strong><%= @errors.size %></strong></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t "preview.error" %></th><%# label %>
        <th><%= t "preview.violation_path" %></th>
        <th><%= t "preview.invalid_value" %></th>
      </tr>
    </thead>
    <tbody>
      <% @errors.each do |error| %>
        <tr>
          <td>
            <%= error["label"] %>
            <% if error.key? "comment" %>
              <span class="has-tooltip icon-info-sign"
                 data-original-title="<%= error["comment"] %>"></span>
            <% end %>
          </td>
          <td><%= error["violationPath"] %></td>
          <td><%= error["invalidValue"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %> 

<h2><%= t "preview.title" %></h2>

<% if @job_postings.empty? %>
  <p><%= t "preview.no_job_posting" %></p>
<% else %>
  <p><%= t "preview.description" %></p>

  <div id="preview">  
    <%= render partial: "object", collection: @job_postings %>
  </div>
<% end %>
